.projects {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.projects .projects-section {
  color: rgb(255, 254, 254);
  background-color: rgb(58, 55, 48);
  width: 25%;
  min-height: 200px;
  border-right: solid 1px silver;
}

.projects .projectCard-section {
  background-color: rgb(244, 244, 230);
  color: white;
  width: 75%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects .projects-section .welcome {
  display: flex;
  flex-direction: column;
  color: rgb(0, 0, 0);
  padding: 15px 0px;
  font-weight: 600;
  background-color: rgb(146, 136, 94);
}

.projects .welcome .header span {
  font-size: larger;
}

.projects .projects-section .mobileSkillsSection {
  display: none;
}

.projects .project-list {
  display: block;
  color: rgb(13, 12, 12);
  font-weight: 600;
}

.projects .mobile-project-list {
  display: none;
  color: rgb(13, 12, 12);
  font-weight: 600;
}

.projects .projectCard-section .skill-subsection {
  width: 100%;
  background-color: rgb(146, 136, 94);
}

.projects .projectCard-section .skills {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: rgb(0, 0, 0);
  padding: 5px 0px;
  font-weight: 600;
  border-bottom: 1px solid rgb(66, 65, 65);
}

.projects .projectCard-section .skill-details {
  width: 100%;
  color: black;
  font-weight: 600;
  font-size: medium;
  background-color: rgb(146, 136, 94);
  border-bottom: 2px solid rgb(119, 119, 119);
}

.projects .projectCard-section .skills .no-skill-details {
  display: none;
}

.projectCard-section .projectCards {
  color: rgb(235, 161, 34);
  min-height: 500px;
}

.projectCard-section .projectCards h2 {
  padding-top: 5px;
  color: white;
}

.projectCard-section .projectCards .projectCard-list {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  color: rgb(233, 169, 31);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media only screen and (max-width: 1050px) {
  .projects .projectCard-section {
    width: 65%;
  }

  .projects .projects-section {
    width: 35%;
  }

  .projectCard-section .projectCards {
    width: 100%;
  }
}

@media only screen and (max-width: 820px) {
  .projects .projectCard-section {
    display: none;
  }

  .projects .projects-section {
    width: 100%;
  }

  .projects .project-list {
    display: none;
  }

  .projects .mobile-project-list {
    display: block;
  }

  .projects .projects-section .mobileSkillsSection {
    display: block;
    background-color: rgb(45, 42, 33);
    color: rgb(219, 208, 188);
  }
}
